<?page title="${labels.ato.titulo}" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:h="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<window id="ato" title="${labels.ato.titulo}" border="normal" closable="true" mode="modal" width="800px" height="100%"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('br.com.gyotools.comexdez.web.atos.AtoViewModelImpl')" action="show: slideDown">
	<style src="/resources/css/form-style.css" />
	<borderlayout hflex="1" vflex="1">
		<north size="53%" border="none" collapsible="true" splittable="true" minsize="317">
			<groupbox  hflex="1" vflex="1">
				<vlayout spacing="5px" style="padding:5px" vflex="1">
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.ato.numero}" class="f-label" />
						<intbox cols="10" value="@bind(vm.filtro.numero)" constraint="no negative: ${c:l('validacao.numeroNegativoNaoPermitido')}" />
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.ato.dataInicial}" class="f-label" />
						<datebox width="150px" value="@bind(vm.filtro.douInicial)" format="dd/MM/yyyy"/>
						<label value="${labels.ato.dataFinal}" class="f-label" width="40px" />
						<datebox width="150px" value="@bind(vm.filtro.douFinal)" format="dd/MM/yyyy"/>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.ato.tipoAto}" class="f-label" />
						<combobox hflex="1" value="@bind(vm.filtro.tipoAto) @converter('br.com.gyotools.comexdez.web.zk.converters.AtoTipoConverter')" 
							model="@load(vm.atoTipoVOList)" selectedItem="@bind(vm.selectedAtoTipo)" autodrop="true" autocomplete="true">
							<template name="model" var="option" >
						        <comboitem label="@bind(option.descricao)" description="@bind(option.abreviacao)" value="@bind(option)"/>  
						    </template>
						</combobox>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.ato.org}" class="f-label"/>
						<combobox hflex="1" value="@bind(vm.filtro.tipoOrgao) @converter('br.com.gyotools.comexdez.web.zk.converters.AtoOrgaoConverter')" 
							model="@load(vm.atoOrgVOList)" selectedItem="@bind(vm.selectedAtoOrgVO)" autodrop="true" autocomplete="true">
							<template name="model" var="option" >
						        <comboitem label="@bind(option.descricao)" description="@bind(option.abreviacao)" value="@bind(option)"/>  
						    </template>
						</combobox>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.ato.aplicacao}" class="f-label"/>
						<combobox hflex="1" value="@bind(vm.filtro.aplicacao) @converter('br.com.gyotools.comexdez.web.zk.converters.AtoAplicacaoConverter')" 
							model="@load(vm.atoAplicacaoVOList)" selectedItem="@bind(vm.selectedAtoAplicacaoVO)" autodrop="true" autocomplete="true">
							<template name="model" var="option" >
						        <comboitem label="@bind(option.descricao)" value="@bind(option)"/>  
						    </template>
						</combobox>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<groupbox hflex="1" vflex="1">
							<caption label="${labels.ato.filtro.conteudo}"/>
							<hlayout spacing="20px" hflex="1" vflex="min" valign="middle" style="padding-bottom: 5px">
								<label value="${labels.ato.conteudo}" class="f-label"/>
								<textbox value="@bind(vm.filtro.conteudo)" hflex="1"/>
							</hlayout>
						</groupbox>
					</hlayout>
					<hbox spacing="20px" hflex="1" vflex="min" align="center" pack="center">
						<button label="${labels.acao.limpar}" onClick="@command('limpar')" hflex="min"/>
						<button label="${labels.acao.pesquisar}" onClick="@command('pesquisar')" hflex="min"/>
					</hbox>
				</vlayout>	
			</groupbox>
		</north>
		<center autoscroll="true">
			<listbox vflex="true" hflex="1" model="@load(vm.atoVOList)" emptyMessage="${labels.ato.lista.nenhumRegistro}"
				sizedByContent="false">
				<listhead>
					<listheader label="${labels.ato.lista.numero}" hflex="min"/>
					<listheader label="${labels.ato.lista.dou}" align="center" width="90px"/>
					<listheader label="${labels.ato.lista.aplicacao}" hflex="1"/>
					<listheader label="${labels.ato.lista.tipoato}" width="200px"/>
				</listhead>
				<template name="model" var="atoVO">
					<listitem value="@bind(atoVO)">
						<listcell label="@bind(atoVO.atoNum)" style="text-align: right" onDoubleClick="@command('abrirResumoIntegra', item=atoVO)"/>
						<listcell label="@bind(atoVO.dou) @converter('formatedDate', format='dd/MM/yyyy')" onDoubleClick="@command('abrirResumoIntegra', item=atoVO)"/>
						<listcell label="@bind(atoVO.aplicacao)" onDoubleClick="@command('abrirResumoIntegra', item=atoVO)"/>
						<listcell label="@bind(atoVO.tipo)" onDoubleClick="@command('abrirResumoIntegra', item=atoVO)"/>
					</listitem>
				</template>
			</listbox>
		</center>
		<south border="none" size="7%">
            <hbox pack="end" hflex="1" vflex="1" style="padding-top:10px">
                <button label="${labels.acao.voltar}" onClick="ato.detach()"/>
            </hbox>
        </south>
	</borderlayout>
</window>

</zk>