<?page title="${labels.tec.nve.titulo}" contentType="text/html;charset=UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:h="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<window id="nve" title="${labels.tec.nve.titulo}" border="normal" closable="true" mode="modal" width="800px" height="100%" maximizable="true"
    apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('br.com.gyotools.comexdez.web.tec.NveViewModelImpl')">
	<borderlayout hflex="1" vflex="1">
		<center title="" autoscroll="true" style="padding-left: 10px;">
			<html hflex="true" vflex="true" content="@bind(vm.nveFormatada)"/>
		</center>
		<south border="none" size="7%">
			<hbox pack="end" hflex="1" vflex="1" style="padding-top:10px">
			    <button label="${labels.acao.email}">
                    <attribute name="onClick">
                        Executions.createComponents("/comum/email.zul", nve, null);
                    </attribute>
                </button>
				<button label="${labels.acao.imprimir}" />
				<button label="${labels.acao.fechar}" onClick="nve.detach()" />
			</hbox>
		</south>
	</borderlayout>
</window>
</zk>