<?page title="${labels.tec.tratAdm.titulo}" contentType="text/html;charset=UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<window id="tratAdm" title="${labels.tec.tratAdm.titulo}" border="normal" closable="true" mode="modal" width="800px" height="100%" maximizable="true"
    apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('br.com.gyotools.comexdez.web.tec.TratAdmViewModelImpl')">
    <borderlayout>
<!--         <west size="20%"> -->
<!--             <listbox model="@load(vm.tratAdmVOList)" selectedItem="@bind(vm.selectedTratAdmVO)" hflex="1" vflex="true" -->
<!--                 style="color: #000000; background: none repeat scroll 0% 0% #EBEBEB;"> -->
<!--                 <listhead> -->
<!--                     <listheader label="${labels.tec.tratAdm.lista.tipo}" align="center"/> -->
<!--                 </listhead> -->
<!--                 <template name="model" var="tratAdmVO"> -->
<!--                     <listitem value="@bind(tratAdmVO)"> -->
<!--                         <listcell label="@load(tratAdmVO.subTipo)" /> -->
<!--                     </listitem> -->
<!--                 </template> -->
<!--             </listbox> -->
<!--         </west> -->
        <center autoscroll="true" style="padding: 5px">
            <label multiline="true" value="@load(vm.descricao)" hflex="1" vflex="true"/>
        </center>
        <south border="none" size="7%">
            <hbox pack="end" hflex="1" vflex="1" style="padding-top:10px">
                <button label="${labels.acao.email}">
                    <attribute name="onClick">
                        Executions.createComponents("/comum/email.zul", tratAdm, null);
                    </attribute>
                </button>
                <button label="${labels.acao.imprimir}" />
                <button label="${labels.acao.fechar}" onClick="tratAdm.detach()" />
            </hbox>
        </south>
    </borderlayout>
</window> 
</zk>   