<?page title="${labels.conversao.titulo}" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
	xmlns:h="http://www.w3.org/1999/xhtml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<window id="conversao" title="${labels.conversao.titulo}" border="normal" closable="true" mode="modal" width="420px" height="330px"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('br.com.gyotools.comexdez.web.moeda.ConversaoViewModelImpl')" action="show: slideDown">
	<style src="/resources/css/form-style.css" />
	<borderlayout hflex="1" vflex="1">
		<center border="none" hflex="1" vflex="1">
			<groupbox  hflex="1" vflex="1">
				<vlayout spacing="5px" style="padding:5px" vflex="1">
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.conversao.valor}" class="f-label" hflex="1"/>
						<decimalbox cols="10" value="@bind(vm.valor)" format="###,###,###.00" hflex="1"/>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.conversao.moedaOrigem}" class="f-label" hflex="1"/>
						<combobox hflex="1" model="@load(vm.moedaVOList)" selectedItem="@bind(vm.moedaOrigem)" autodrop="true" autocomplete="true">
							<template name="model" var="option" >
						        <comboitem label="@bind(option.descricao)" value="@bind(option)"/>  
						    </template>
						</combobox>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.conversao.moedaDestino}" class="f-label" hflex="1"/>
						<combobox hflex="1" model="@load(vm.moedaVOList)" selectedItem="@bind(vm.moedaDestino)" autodrop="true" autocomplete="true">
							<template name="model" var="option" >
						        <comboitem label="@bind(option.descricao)" value="@bind(option)"/>  
						    </template>
						</combobox>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.conversao.dataCotacao}" class="f-label" hflex="1"/>
						<datebox value="@bind(vm.dataCotacao)" format="dd/MM/yyyy" hflex="1"/>
					</hlayout>
					<hlayout spacing="20px" hflex="1" vflex="min" valign="middle">
						<label value="${labels.conversao.valorConvertido}" class="f-label" hflex="1"/>
<!-- 						<decimalbox cols="10" value="@load(vm.valorConvertido)" format="###,###,###.0000" hflex="1" readonly="true"/> -->
                        <textbox cols="10" value="@load(vm.valorConvertidoFormatado)" hflex="1" readonly="true"/>
					</hlayout>	
				</vlayout>	
			</groupbox>
		</center>
		<south border="none" >
		  <hbox spacing="20px" hflex="1" vflex="min" align="center" pack="end" style="padding:5px">
              <button label="${labels.acao.calcular}" onClick="@command('calcular')" hflex="min"/>
              <button label="${labels.acao.voltar}" onClick="conversao.detach()" hflex="min"/>
          </hbox>
		</south>
	</borderlayout>
</window>

</zk>